.card-advantages {
  display: flex;
  align-items: center;
  column-gap: 100px;
  height: 100%;
  border-radius: 16px;

  @include vp-1439 {
    height: 408px;
  }

  @include vp-767 {
    gap: unset;
  }

  &--reverse {
    .card-advantages__content {
      padding: 100px 0 100px 140px;

      @include vp-1439 {
        padding: 30px 15px 20px 15px;
      }


    }

    @include vp-1439 {
      flex-direction: column;
    }

  }

  &--heavenly {
    background-color: $color-columbia-blue;

    .card-advantages__content {
      @include vp-1439 {
        padding: 10px 15px 30px 15px;
      }
    }

    @include vp-1439 {
      flex-direction: column;
    }
  }

  &--purple {
    background-color: $color-portage;
  }

  &--blue {
    color: $color-white;
    background-color: $color-cornflower-blue;

    @include vp-1439 {
      height: 300px;
      gap: 28px;
    }

    @include vp-767 {
      flex-direction: column;
      height: 408px;
      gap: unset;
    }
    .card-advantages__content {
      @include vp-1439 {
        padding: 73px 40px 73px 0;
      }

      @include vp-767 {
        padding: 30px 30px 34px 30px;
      }
    }

    .card-advantages__image {
      @include vp-1439 {
        width: 340px;
        height: 300px;
      }

      @include vp-767 {
        width: 345px;
        height: 190px;
      }
    }
  }

  &--dark-gray {
    color: $color-white;
    background-color: $color-manatee-1;

    @include vp-767 {
      height: 408px;
    }
  }

  &--light-gray {
    background-color: $color-solitude-2;

    @include vp-767 {
      height: 408px;
    }
  }

  &--small {
    flex-direction: column;
    grid-column: span 1;
    min-height: 640px;

    @include vp-1439 {
      min-height: auto;
    }

    .card-advantages__content {
      padding: 60px;

      &__image {
        width: 100%;
      }

      @include vp-1439 {
        padding: 30px 30px 10px 30px;
      }
    }

    .card-advantages__picture {
      margin: auto 0 0 0;

      @include vp-1439 {
        width: 345px;
        height: 186px;
        margin: auto 0 0 0;
      }
    }
  }

  &__picture {
    flex-shrink: 0;
  }

  &__image {
    @include vp-1439 {
      width: 100%;
      height: 100%;
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    padding: 0 0 0 22px;

    @include vp-1439 {
      padding: 0 0 0 18px;
      gap: 10px;
    }
  }

  &__subitem {
    font-size: 18px;
    line-height: 24px;

    @include vp-1439 {
      font-size: 14px;
    line-height: 20px;
    }
  }

  &__content {
    padding: 100px 140px 100px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 36px;

    @include vp-1439 {
      margin: 0 0 10px 0;
    font-size: 22px;
    line-height: 28px;
    }
  }

  &__description {
    margin: 0;
    font-size: 18px;
    line-height: 24px;

    @include vp-1439 {
      font-size: 14px;
    line-height: 20px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
    }
  }

  &__btn {
    width: 224px;
    margin: 32px 0 0 0;

    @include vp-1439 {
      margin: 0 auto;
      width: 187px;
    }
  }
}
