.header {
  padding: 16px 0;

  &__wrapper {
    display: flex;
    align-items: center;

    @include vp-767 {
      display: flex;
      align-items: center;
    }
  }

  &__logo-image {
    align-items: center;
    
    @include vp-767 {
      width: 98px;
      height: 40px;
    }
  }

  &__logo-link {
    display: flex;
    margin-right: auto;

    @include vp-767 {
      align-items: center;
    }
    
  }

  &__box {
    display: flex;
    align-items: center;
    margin: 0 28px 0 0;
    border: 1px solid $color-hawkes-blue;
    border-radius: 12px;
    padding: 5px;

    @include vp-1439 {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  &__btn--active {

    @include vp-1439 {
      display: none;
    }
  }

  &__btn {


    width: 138px;

    &:not(:last-child) {
      width: 128px;
      margin: 0 6px 0 0;
    }

    @include vp-1439 {
      width: 79px;
  }
}

  &__language-link {
    outline: none;
    display: flex;
    align-items: center;
    column-gap: 12px;
    border: 1px solid $color-hawkes-blue;
    border-radius: 12px;
    padding: 17px 22px 17px 21px;
    font-weight: 500;

    &:hover {
      background-color: $color-solitude-4;
    }

    @include vp-1439 {
      display: none;
    }
  }
}
