.hot-season__list {
    display: grid;
    grid-template-columns: 350px 350px 1fr;
    gap: 20px;
    margin: 0 0 80px 0;
    padding: 0;
}

.hot-season__tittle {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.hot-season__item {
    background-color: rgba(224, 229, 250, 1);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
}

.hot-season__item--row {
    grid-row: span 2;
    background-color: #E0EFFA;
    padding: 20px 30px;
}

.hot-season__item--special {
    grid-column: span 2;
    background: linear-gradient(87.12deg, #5839B0 1.65%, #4162B8 100%);
}

.hot-season__item--special .hot-season__img {
    width: 100px;
    height: 100px;
    margin: auto 0;
}

.hot-season__comment {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin: 0 0 20px;
}

.hot-season__img {
    border-radius: 50%;
    border: 4px solid #9E5FC4;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
}

.hot-season__country {
    display: block; 
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #242424;
    margin: 0 0 20px;
}

.hot-season__subtittle {
    font-weight: 700;
    font-size: 28px; 
    line-height: 32px;
    letter-spacing: -0.02em;
    color: rgba(158, 95, 196, 1);
    margin: 0;
}

.hot-season__link {
  padding: 14px;
  display: flex;
  justify-content: center;
  border-radius: 60px;
  background-color: #9E5FC4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 154px;
  margin: 0 auto;
}

.hot-season__card-2 {
    background-color: #D2E8E5;
}

.hot-season__card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 20px;
}

.hot-season__item--special .hot-season__card {
    display: flex;
}

.hot-season__review {
    margin: 0 40px 0 0;
    text-align: left;
}

.hot-season__name {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 15px 0 0;
    display: block;
}

.hot-season__name-link {
    color: rgba(255, 255, 255, 0.5);
    display: block;
}

.hot-season__contact {
    display: flex;
}

.hot-season__card--special .hot-season__img {
    border: none;
}